# Environment variables untuk Selenium SIPS

BASE_URL=https://sips.example.com

# Admin
USERNAME_ADMIN=admin@example.com
PASSWORD_ADMIN=rahasia_admin

# Kepala Badan
USERNAME_KEPALA_BADAN=kepala@example.com
PASSWORD_KEPALA_BADAN=rahasia_kepala

# Sekretaris Badan
USERNAME_SEKRETARIS=sekretaris@example.com
PASSWORD_SEKRETARIS=rahasia_sekretaris

# Master Admin
USERNAME_MASTER_ADMIN=master@example.com
PASSWORD_MASTER_ADMIN=rahasia_master

# Opsional: jalankan headless (True/False)
HEADLESS=False